{
	"presets": [
		[
			"env",
			{
				"modules": false,
				"useBuiltIns": "entry"
			}
		],
		"stage-2"
	],
	"plugins": ["transform-runtime", "lodash"],
	"env": {
		"test": {
			"plugins": ["istanbul"]
		}
	}
}
