language: node_js
cache:
    directories:
        - node_modules

node_js:
    - "10"
    - "8"
    - "6"

install:
    - npm install

script:
    - npm test

deploy:
    provider: npm
    email: $NPM_EMAIL
    api_key: $NPM_API_KEY
    skip_cleanup: true
    on:
        tags: true
        node: "8"

after_success:
    - npm run coverall
